.generic-header {
    margin: 24px 20px;
    display: grid;
    grid-template-columns: 300px 3fr 300px;
    align-items: center;
}

.generic-header .logo {
    margin: 0 30px 0 0;
    font-size: 20px;
}

.generic-header .logo-openblocks {
    color: #0066cc;
}

.generic-header .menu {
    font-size: 16px;
    display: flex;
    grid-column-gap: 30px;
    border-bottom: 2px solid transparent;
}

.generic-header .menu .item {
    border-bottom: 2px solid transparent;
}

.generic-header .menu .selected-item {
    border-bottom: 2px solid #0066cc;
}

.generic-header a:link {
    color: #303030;
    text-decoration: none;
}

.generic-header a:visited {
    color: #303030;
}

.generic-header a:hover {
    color: #0d42ff;
}