.task-links {
    margin: 30px 0;
}

.generic-container .task-card .task-links .task-links-header {
    display: flex;
    grid-column-gap: 20px;
    align-items: center;
    justify-items: center;
}

.generic-container .task-card .task-links .task-links-header .task-links-add {
    font-size: 15px;
    color: #0066cc;
    display: flex;
    align-items: center;
    align-content: center;
    grid-column-gap: 3px;
}

.generic-container .task-card .task-links .task-links-header .task-links-add svg {
    height: 16px;
    width: 16px;
    fill: #0066cc;
}

.generic-container .task-card .task-links .task-links-header .task-links-add:hover {
    color: #0d42ff;
    cursor: pointer;
}

.generic-container .task-card .task-links .task-links-header .task-links-add:hover svg {
    fill: #0d42ff;
}

.generic-container .task-card .task-links h3 {
    margin: 10px 0;
    font-weight: 600;
    font-size: 18px;
}

.task-links .task-links-empty {
    font-size: 16px;
    color: #606060;
    display: grid;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    padding: 30px 0;
    border: 1px dashed #dcdcdc;
}

.task-links .add-task-form {
    display: grid;
    grid-template-columns: 180px 1fr;
    grid-column-gap: 10px;
    font-size: 14px;
}

.task-links .add-task-form .select-box,
.task-links .add-task-form input[type=text] {
    font-size: 14px;
}

.task-links .add-task-form .btn-add {
    padding: 0 10px !important;
    height: 100%;
}

.generic-container .task-card .task-links .task-link-list-item {
    margin: 10px 0;
    display: grid;
    grid-template-columns: 180px auto 1fr auto;
    grid-column-gap: 10px;
    align-items: center;
    align-content: center;
    font-size: 14px;
}


.generic-container .task-card .task-links .task-link-list-item .select-box {
    font-size: 14px !important;
}

.generic-container .task-card .task-links .task-link-list-item  .task-link-code {
    font-size: 14px;
}

.generic-container .task-card .task-links .task-link-list-item:hover .task-link-delete svg {
    opacity: 1;
}

.generic-container .task-card .task-links .task-link-list-item .task-link-delete svg {
    fill: #505050;
    width: 20px;
    height: 20px;
    opacity: 0;
    transition: 0.2s;
    display: block;
}

.generic-container .task-card .task-links .task-link-list-item .task-link-delete svg:hover {
    fill: #0084ff;
    cursor: pointer;
}