.generic-backlog {
    margin: 24px 20px;
    border-top: 1px solid #dcdcdc;
}

.generic-backlog h1 {
    margin: 0px;
    padding: 20px 0;
    font-size: 28px;
    font-weight: 400;
}

.generic-backlog .backlog-header {
    margin: 10px 0;
    display: flex;
    align-items: center;
    align-content: center;
    grid-template-columns: 1fr auto;
    grid-column-gap: 20px;
}

.generic-backlog .backlog-header .backlog-detailed-search {
    font-size: 14px;
    display: grid;
    grid-template-columns: 21px auto;
    grid-column-gap: 5px;
    align-items: center;
}

.generic-backlog .backlog-header .backlog-detailed-search:hover {
    color: #0d42ff;
    cursor: pointer;
}

.generic-backlog .backlog-header .backlog-detailed-search:hover svg {
    stroke: #0d42ff;
}

.generic-backlog .backlog-header .backlog-detailed-search svg {
    stroke: #303030;
    display: block;
    width: 20px;
    height: 20px;
}

.generic-backlog .backlog-header .backlog-project-access {
    font-size: 14px;
    display: grid;
    grid-template-columns: 21px auto;
    grid-column-gap: 5px;
    align-items: center;
}

.generic-backlog .backlog-header .backlog-project-access:hover {
    color: #0d42ff;
    cursor: pointer;
}

.generic-backlog .backlog-header .backlog-project-access:hover svg {
    stroke: #0d42ff;
}

.generic-backlog .backlog-header .backlog-project-access svg {
    stroke: #303030;
    display: block;
    width: 20px;
    height: 20px;
}

.generic-backlog .sprint-header {
    margin: 10px 0;
    padding: 15px 0;
    background-color: #f5f5f5;
    border-radius: 5px;
    font-size: 14px;
    display: grid;
    color: #303030;
    grid-template-columns: 200px 1fr 200px;
    grid-column-gap: 10px;
    align-items: center;
    align-content: center;
}

.generic-backlog .sprint-header .sprint-header-title {
    padding: 0 10px;
}

.generic-backlog .sprint-header .sprint-header-dates {
    padding: 0 10px;
}

.generic-backlog .sprint-header .sprint-header-buttons {
    padding: 0 10px;
}

.generic-backlog .sprint-header .sprint-header-buttons .close-sprint {
    display: grid;
    grid-template-columns: 18px 1fr;
    grid-column-gap: 3px;
    align-items: center;
    align-content: center;
}

.generic-backlog .sprint-header .sprint-header-buttons .close-sprint svg {
    display: block;
    fill: none;
    width: 18px;
    height: 18px;
}

.generic-backlog .sprint-header .sprint-header-buttons .close-sprint svg path {
    stroke: #303030;
}

.generic-backlog .sprint-header .sprint-header-buttons .close-sprint:hover {
    color: #0d42ff;
    cursor: pointer;
}

.generic-backlog .sprint-header .sprint-header-buttons .close-sprint:hover svg path {
    stroke: #0d42ff;
}

.generic-backlog .sprint-header a:link {
    color: #303030;
    text-decoration: none;
}

.generic-backlog .sprint-header a:visited {
    color: #303030;
}

.generic-backlog .sprint-header a:hover {
    color: #0d42ff;
    text-decoration: underline;
}

.generic-backlog .task-list {
    margin: 20px 0;
}

.generic-backlog .task-list .task-list-header {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 80px 100px 100px;
    grid-column-gap: 5px;
    margin: 10px 0;
    font-weight: 600;
}

.generic-backlog .task-list .task-item {
    display: grid;
    align-items: center;
    grid-template-columns: 80px 20px 30px 1fr auto 80px 100px 100px;
    grid-column-gap: 5px;
    padding: 5px 2px;
    border-bottom: 1px solid #dcdcdc;
    font-size: 15px;
    min-height: 25px;
    background-color: #ffffff;
}

.generic-backlog .task-list .task-item a:link {
    color: #303030;
    text-decoration: none;
}

.generic-backlog .task-list .task-item a:visited {
    color: #303030;
}

.generic-backlog .task-list .task-item a:hover {
    color: #0d42ff;
    text-decoration: underline;
}

.generic-backlog .task-list .task-item .task-type {
    cursor: default;
}

.generic-backlog .task-list .task-item .task-type-task {
    background-color: #0077b6;
    display: block;
    height: 12px;
    width: 12px;
    border-radius: 10px;
}

.generic-backlog .task-list .task-item .task-type-bug {
    background-color: #e63946;
    display: block;
    height: 12px;
    width: 12px;
    border-radius: 10px;
}

.generic-backlog .task-list .task-item .task-type-story {
    background-color: #6a994e;
    display: block;
    height: 12px;
    width: 12px;
    border-radius: 10px;
}

.generic-backlog .task-list .task-item .task-priority {
    font-size: 16px;
    cursor: default;
}

.generic-backlog .task-list .task-item .task-executor {
    display: flex;
    justify-content: center;
}

.generic-backlog .task-list .task-item .task-executor span.existing-user {
    background-color: #dcdcdc;
    display: inline-block;
    padding: 5px;
    width: 20px;
    height: 20px;
    border-radius: 30px;
}

.generic-backlog .task-list .task-item .task-closed {
    text-decoration: line-through !important;
}

.generic-backlog .task-list .task-item a.task-closed:hover {
    text-decoration: line-through underline !important;
}

.generic-backlog .task-list-filters .task-list-main-filters {
    display: grid;
    grid-template-columns: 200px 1fr 200px;
    grid-column-gap: 10px;
}