.create-task-form {
    margin: 24px 20px;
    border-top: 1px solid #dcdcdc;
}

.create-task-form h1 {
    margin: 0px;
    padding: 20px 0;
    font-size: 28px;
    font-weight: 400;
}

.create-task-form .add-task-main-info {
    margin: 20px 0;
}

.create-task-form .add-task-item {
    margin: 10px 0;
}

.create-task-form .add-task-parameters {
    margin: 10px 0;
}

.create-task-form .add-task-parameter {
    display: grid;
    grid-template-columns: 150px 1fr;
    margin: 10px 0;
    align-items: center;
}

.create-task-form .add-task-buttons {
    margin: 20px 0;
}